main {
  flex: 1;
}

.component-grid {
  margin-top: var(--spacing-24);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-24);
}

@media (max-width: 768px) {
  .component-grid {
    grid-template-columns: 1fr;
  }
}